

<div class="border shadow">
<div class="col-6 mt-3 m-auto">
    <h6>Inserisci un titolo</h6>
    <div class="input-group mb-4">
        <input type="text" class="form-control" placeholder="Inserisci il titolo di un libro" [(ngModel)]="inputTitle">
    </div>


    <h6>Inserisci l'Autore</h6>
    <div class="input-group mb-4">
        <input type="text" class="form-control" placeholder="Inserisci l'Autore del libro" [(ngModel)]="inputAuthor">
       
    </div>

    <h6>Inserisci prezzo</h6>
    <div class="input-group mb-4">
        <input type="text" class="form-control" placeholder="Inserisci il prezzo del libro" [(ngModel)]="inputPrice">
    </div>
   <button class=" nb mb-3" (click)="onAddBook()" type="button" id="button-addon2">Button</button>
</div>
</div>