
      
        <div class="mb-3 ">
          <!--  <label for="exampleInputEmail1" class="form-label">Inserisci un valore</label>
            <input type="email" 
                   class="form-control" 
                   id="exampleInputEmail1" 
                   aria-describedby="emailHelp"
                   [(ngModel)] = "inputString">
                   <p>{{inputString}}</p>  <span>Titolo</span>| <span>Autore</span>| <span>Prezzo</span>-->
                  <div class="col-7 m-auto mt-5">
                    <div class="border shadow">
                    
                      <div class="ms-3">
                        <h4 class="mt-2 line">{{ book.title }}</h4>
                        <p class="">{{book.author}}</p>
                        <p class=""><small class="text-body-secondary">{{book.price}}</small></p>
                     
                      </div>
                    </div>
                    </div>
                 
           
      </div>
    