
<div class="container-fluid">
    <div class="row">
        <div class="col-6 m-auto mt-5">
        <ul class="list-group">
            <li class="list-group-item"><a routerLink="/book/1">An item</a></li>
            <li class="list-group-item"><a routerLink="/book/2">A second item</a></li>
            <li class="list-group-item"><a routerLink="/book/3">Another item</a></li>
            <li class="list-group-item"><a routerLink="/book/4">An item</a></li>
            <li class="list-group-item"><a routerLink="/book/5">An item</a></li>
        </ul>
   </div>
</div>
</div>